@import '../../util.scss';

.Search {
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Noto Sans";

  .section-search-container {
    display: flex;

    .SelectBox {
      width: 20%;
      height: 100%;
      font-weight: 700;
      font-size: $h2-font-size;
    }

    .Input {
      justify-content: center;
      align-items: center;

    }
  }

  .section-tags {
    display: flex;
    margin: 3% 0;

    .Tag {
      font-size: $little-font-size;
      padding: 5px 10px 5px 10px;

      @media (max-width: 620px) {
        padding: 3px 5px 3px 5px;
      }
    }
  }

  .section-search-result {
    height: 59.472656%;

    .section-search-result-title {
      font-size: $h2-font-size;
      font-weight: 700;
      margin: 3% 0 3% 3%;
      height: 10%;
    }
  }
}